[Unit]
Description=CustomBashScript

[Service]
Type=simple
ExecStart=/usr/bin/bash /home/l02/script.sh
User=l02

[Install]
WantedBy=multi-user.target
